/* All fonts are always Arial,sans-serif */
html, body {
  font-family: Arial,sans-serif;
}

/* Headline */
#listHeader, #listSelectBox {
  background-color: #E3E9FF;
}
#listSelectBox {
  font-size: 1.5em;
  font-weight: normal;
}
/* Pixel-perfect 29px headline */
#listHeader, #listSelectBox {
  margin: 0;
  padding: 0;
  border: 0;
}
#listHeader {
  padding: 1px;
}
#mainmenu .dropbtn {
  min-height: 20px;
}

/* Task list panel */

/* Task list panel dropdowns: move to the left, change icon */
.taskListPanel .grip {
  order: 1;
}
.taskListPanel .dropdown {
  order: 2;
  padding-right: 0;
}
.taskListPanel span {
  order: 3;
  padding-right: 0.3em;
}
.taskListPanel .dropdown {
  align-self: start;
  padding-top: 0.2em;
}
.taskListPanel .dropbtn {
  background-image: url("res/sprites-gt.png");
  background-position:-144px -25px;
  min-width: 13px;
  min-height: 12px;
  margin-left:0px;
  margin-right:5px;
  border: 0;
  padding: 0;
}
.taskListPanel .dropdown-content {
  font-weight: normal;
  left: 0;
  right: unset;
}

/* tasklistPanel formatting */
.taskListPanel .account,
.taskListPanel .accountAdd,
.taskListPanel .tasklist,
.taskListPanel .tasklistAdd {
  font-weight: normal;
  font-size: 1em;
  color: #2a5db0;
}
.taskListPanel span {
  padding: 0;
}
.taskListPanel .account,
.taskListPanel .accountAdd {
  color: black;
  margin-top: 0.25em;
}


/* Left panel */
#listPanelTitle {
  display: block;
  font-weight: bold;
  padding-left: 0.4em;
  margin: 0.5em 0 0; /* margin-bottom is 0.25em in Canvas but our .accounts have margin-top 0.25em instead */
}



/* Default listPanel width is 142 + splitter 4 */
#listPanel {
  width: 142px;
  /* No padding for tasklistPanel */
  margin: 0;
  padding: 0;
  border: 0;
}
#listSplitter { width: 4px; }
/* Title is the same color, same size as headline */
#listPanelToolbar {
  display: flex;
  background-color: #E3E9FF;
  min-height: 29px;
  margin: 0;
  padding: 0;
  border: 0;
  flex-shrink: 0; /* do not shrink even if we need more space */
}
#listPanel .accountAdd {
  display: none; /* hide additional "add account" */
}

/* Panel toolbar */
#listPanelToolbar .button {
  font-size: 1em; /* Show captions */
  font-weight: normal;
  background: linear-gradient(#FFFFFFFF, #DDDDDDDD);
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}
#listPanelToolbar #panelAccountAdd:before { content: url(res/plus.png); }
#listPanelToolbar #panelListAdd:before { content: url(res/plus.png); }


/*
Main canvas toolbar:
	Clear completed | +New task |
	View: <my order> | <sort by date> | <completed tasks> | <trash>
	{Tab} {ShiftTab} | {Up} {Down} | {Delete} | Refresh | {Print}
The <View> block lived basically anywhere at different points of time.
 */
#listToolbar {
  display: flex;
  background: linear-gradient(#FFFFFF, #DDDDDD);
  border-bottom: 1px solid #D5D5D5;
  padding: 2px; /* sic */
  color: #516B97;
}
#listToolbar .button { /* Should be 24px with borders */
  margin: 0px;
  border: 1px solid transparent;
  padding: 1px;
  font-size: 1em; /* Show captions */
  font-weight: normal;
  vertical-align: bottom;
}
#listToolbar .button.checked {
  border-color: #A1BADF;
}
#listToolbar .button:hover {
  border-color: #729BD1;
  background-color: #DDE1EB;
}
/* We could gray out buttons instead of hiding them, but that's not really what happens in Canvas, even though there are grayed out icons.
#listToolbar .button.hidden {
  display: block !important;
  color: #8594A7;
  filter: invert(59%) sepia(11%) saturate(516%) hue-rotate(174deg) brightness(95%) contrast(95%);
  pointer-events: none;
} */
/* Hide all buttons and only show specific ones */
#listToolbar .button { display: none; }
#listToolbar #tbTaskAdd,
#listToolbar #tbTaskEdit,
#listToolbar #tbTaskTab,
#listToolbar #tbTaskShiftTab,
#listToolbar #tbTaskMoveUp,
#listToolbar #tbTaskMoveDown,
#listToolbar #tbTaskDelete,
#listToolbar #tbClearCompleted,
#listToolbar #tbRefresh,
#listToolbar #tbPrint,
#listToolbar #tbSortCustom,
#listToolbar #tbSortByDate,
#listToolbar #tbShowCompleted,
#listToolbar #tbShowDeleted
{ display: block; }
#tbClearCompleted { order: 11; }
#tbTaskAdd { order: 12; }
#tbSortCustom { order: 21; }
#tbSortByDate { order: 22; }
#tbShowCompleted { order: 23; }
#tbShowDeleted { order: 24; }
#tbTaskEdit { order: 31; }
#tbTaskTab { order: 32; }
#tbTaskShiftTab { order: 33; }
#tbTaskMoveUp { order: 34; }
#tbTaskMoveDown { order: 35; }
#tbTaskDelete { order: 36; }
#tbRefresh { order: 37; }
#tbPrint { order: 38; }
/* Enable splitters after some tasks */
#tbTaskAdd:after, #tbTaskEdit:after, #tbTaskShiftTab:after, #tbTaskMoveDown:after, #tbTaskDelete:after,
#tbClearCompleted:after, #tbRefresh:after, #tbPrint:after,
#tbSortCustom:after, #tbSortByDate:after, #tbShowCompleted:after, #tbShowDeleted:after
{
  display: inline-block;
  content: "";
  min-width: 1px;
  min-height: 1rem; /* font-size can be 0 if caption is hidden */
  height: 1em;
  vertical-align: middle;
  margin-left: 4px; border-right: 2px groove #D6D6D6; }
/* Prepend "View" to order panel */
#tbSortCustom:before { content: "View: "; }
/* Icons for some buttons */
#tbTaskAdd:before,
#tbTaskDelete:before,
#listToolbar #tbTaskTab:before,
#listToolbar #tbTaskShiftTab:before,
#listToolbar #tbTaskMoveUp:before,
#listToolbar #tbTaskMoveDown:before {
  display: inline-block; /* for scaling */
  vertical-align: middle;
  /*margin-right: 5px;*/
  height: 24;
  /*margin-top:2px;*/
  min-width: 20px;
}
/* Hide captions for some of icon buttons */
#listToolbar #tbTaskDelete,
#listToolbar #tbTaskTab,
#listToolbar #tbTaskShiftTab,
#listToolbar #tbTaskMoveUp,
#listToolbar #tbTaskMoveDown {
  font-size: 0; /* Hide captions */
  filter: invert(45%) sepia(18%) saturate(966%) hue-rotate(179deg) brightness(86%) contrast(97%); /* color all icons -> #516B97 */
}
#listToolbar #tbTaskAdd:before {
  filter: invert(45%) sepia(18%) saturate(966%) hue-rotate(179deg) brightness(86%) contrast(97%); /* color all icons -> #516B97 */
}
#listToolbar #tbTaskDelete:after {
  margin-left: 0;
}
/* Plus icon for the New button */
#tbTaskAdd:before,
#tbTaskDelete:before {
  transform: scale(0.85);
  transform-origin: 13px 13px; /* deblurs transform: https://stackoverflow.com/questions/29037176/ */
}
#tbTaskAdd:before { content: url(res/plus2.png); }
#tbTaskDelete:before { content: url(res/trash2.png); }
#tbTaskTab { background-image: url(res/ikigai-4871557-16.png); }
#tbTaskShiftTab { background-image: url(res/ikigai-4871564-16.png); }
#tbTaskMoveUp { background-image: url(res/visual-arrow-5539635.png); }
#tbTaskMoveDown { background-image: url(res/visual-arrow-5539636.png); }


/* Tasks */
.task {
  max-width: 75%; /* Tasks are limited to 75% of the full width */
}
@media(max-width: 600px) {
.task {
  max-width: initial; /* But I do not think this should happen in collapsed form */
}
}